<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav [opened]="false" position="start">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav mode="side"[opened]="getToggle()" position="end">
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <app-toolbar [sidenav]="sidenav"></app-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <app-footbar></app-footbar>
  </mat-sidenav-content>
</mat-sidenav-container>